<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407327952231-8ap6k2l8q4das8r69fmlt67iti9dvnvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407327952231-8ap6k2l8q4das8r69fmlt67iti9dvnvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBHOoNulF0faDjq7Zq9XsLBwO5zZXH2YzY</string>
	<key>GCM_SENDER_ID</key>
	<string>407327952231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mute.BookApp</string>
	<key>PROJECT_ID</key>
	<string>bookapp-895ac</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-895ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407327952231:ios:cfd025b73c1b7239</string>
	<key>DATABASE_URL</key>
	<string>https://bookapp-895ac.firebaseio.com</string>
</dict>
</plist>